{% extends "@!SyliusUi/Macro/buttons.html.twig" %}

{% macro bulkExport(url, message, labeled = true) %}
    <form action="{{ url }}" method="post" id="bulk-export">
        <button class="ui red {% if labeled %}labeled {% endif %}icon button not_disabled" type="submit">
            <i class="icon download"></i> {{ ((message is empty and labeled) ? 'sylius.ui.export' : message)|trans }}
        </button>
    </form>
{% endmacro %}
