imports:
    - vendor/sylius/sylius/src/Sylius/Behat/Resources/config/suites.yml
    - tests/Behat/Resources/suites.yml

default:
    extensions:
        DMore\ChromeExtension\Behat\ServiceContainer\ChromeExtension: ~
        Lakion\Behat\MinkDebugExtension:
            directory: etc/build
            clean_start: false
            screenshot: true

        Behat\MinkExtension:
            files_path: "%paths.base%/vendor/sylius/sylius/src/Sylius/Behat/Resources/fixtures/"
            base_url: "http://localhost:8000/"
            browser_name: chrome
            default_session: symfony
            javascript_session: chrome
            sessions:
                chrome:
                    chrome:
                        api_url: "http://localhost:9222"
                        download_behavior: allow
                        download_path: "%paths.base%/etc/downloads/"
                        validate_certificate: false
                        dom_wait_timeout: 10000
                symfony:
                    symfony: ~
                chrome_javascript:
                    selenium2:
                        browser: chrome
                        capabilities:
                            browserName: chrome
                            browser: chrome
                            version: ""
                            marionette: null # https://github.com/Behat/MinkExtension/pull/311
                            chrome:
                                switches:
                                    - "start-fullscreen"
                                    - "start-maximized"
                                    - "no-sandbox"
                                    - "headless"
                                    - "window-size=1920,1080"
                                    - "--disable-gpu"
                                prefs:
                                    download:
                                        default_directory: etc/downloads
                                        prompt_for_download: false
                            extra_capabilities:
                                unexpectedAlertBehaviour: accept
                firefox:
                    selenium2:
                        browser: firefox
            show_auto: false

        FriendsOfBehat\SymfonyExtension:
            bootstrap: tests/Application/config/bootstrap.php
            kernel:
                class: Tests\Mobizel\SyliusExportPlugin\Application\Kernel

        FriendsOfBehat\VariadicExtension: ~

        FriendsOfBehat\SuiteSettingsExtension:
            paths:
                - "features"
